<h3 class="mb-3">Issue <%= @issue.no %>: <%= @issue.title %></h3>

<div class="card bg-light">
  <div class="card-body">
    <div class="row">
      <div class="col-3">
        <p class="font-weight-bold">No:</p>
      </div>
      <div class="col-9">
        <%= @issue.no %>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <p class="font-weight-bold">Created at:</p>
      </div>
      <div class="col-9">
        <%= @issue.created_at %>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <p class="font-weight-bold">Title:</p>
      </div>
      <div class="col-9">
        <%= @issue.title %>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <p class="font-weight-bold">Description:</p>
      </div>
      <div class="col-9">
        <%= @issue.description %>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <p class="font-weight-bold">Assigned to:</p>
      </div>
      <div class="col-9">
        <%= @issue.assigned_to %>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
        <p class="font-weight-bold">Status:</p>
      </div>
      <div class="col-9">
        <%= @issue.status %>
      </div>
    </div>
  </div>
</div>

<h3 class="mt-4">Comments</h3>
<ul class="list-group">
  <% @comments.each do |c| %>
  <li class="list-group-item">
    <div class="d-flex justify-content-between">
      <span><%= c.description %></span>
      <span><%= c.created_at %></span>
    </div>
  </li>
  <% end %>
</ul>

<%= form_with model: @comment do |f| %>
  <div class="form-group">
    <%= f.text_field :issue_id, value: @issue.id, class: "form-control", hidden: true %>
  </div>
  <div class="form-group mb-3">
    <%= f.text_field :description, class: "form-control", placeholder: "Comment", required: true %>
  </div>
  <%= f.submit "Add comment", { controller: "issues",  class: "btn btn-primary" } %>
<% end %>

<div class="mt-3">
  <%= link_to "Back", { controller: "projects", action: "show", id: @issue.project.id } %>
</div>