<h3 class="mb-3">Add new project</h3>

<%= form_with model: @project, data: { turbo: false } do |f| %>
  <div class="form-group mb-3">
    <%= f.text_field :name, class: "form-control", placeholder: "Name", required: true %>
    <% if @project.errors[:name].length != 0 %>
      <small class="form-text text-danger"><%= @project.errors[:name][0] %></small>
    <% end %>
  </div>
  <%= f.submit "Create", class: "btn btn-primary" %>
<% end %>

<div class="mt-3">
  <%= link_to "Back", { action: "index" } %>
</div>